#share_icons {
	text-align: left;
	text-transform: uppercase;
	font-size: 1em;
}

#share_icons svg {
	vertical-align: middle;
	margin-right: .4em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
}

#share_icons a {
	text-decoration: none;
}
